@import "tailwindcss";

@theme {
  --color-primary: #0F172A;
  --color-primary-light: #1E293B;
  --color-secondary: #C5A059;
  --color-text-light: #F8FAFC;
  --color-text-muted: #94A3B8;

  --font-sans: 'Inter', sans-serif;

  --bg-gradient-gold: linear-gradient(to right, #C5A059, #E5C585);
}

@layer base {
  html {
    background-color: var(--color-primary);
    color: var(--color-text-light);
  }
}